.table-header{
  background: #f8f9fa;
    color: #495057;
    border: 1px solid #e9ecef;
    border-width: 1px 0 1px 0;
    padding: 1rem 1rem;
    font-weight: 600;
}

.tieredmenu-item{
  padding:  1rem;
  i{
    margin-right: 5px;
  }
}

.tieredmenu-item:hover{
  cursor: pointer;
  background-color: #f3f3f3;
}

.p-datatable-scrollable .p-datatable-thead > tr > th{
  padding-right: 90px;
}

.p-menubar{
  z-index: 10;
}

.p-chips .p-chips-multiple-container{
  width: 100%;
}